.neonText {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 32px #06f,
}

.pulsate {
  animation: pulsate 1.5s infinite alternate;     
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 11px #fff,
        0 0 20px #06f,
        0 0 25px #06f,
        0 0 30px #06f,
        0 0 35px #06f,
        0 0 50px #06f;
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #06f,
        0 0 15px #06f,
        0 0 25px #06f,
        0 0 30px #06f,
        0 0 35px #06f,
        0 0 55px #06f,
        0 0 75px #06f;
    }
}